/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
    aside {
        display: none;
    }
}

header {
    .bandeau {
        height: 300px;
        img {
            max-height: 300px;
        }
        h1 {
            font-size: 3rem;
            position: relative;
            left: -150px;
            top: 50px;
            color: black;  
            display: inline;  
        }
    }
    nav {
        .color-me {
            color: white;
        }
        .color-me:hover {
            color: lightgray;
        }
        .navbar-toggler {
            border-color: lightgrey;
        }
    }
    .ariane {
        height: 60px;
    }
}

.wrapper {
    article {
        height: 500px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    aside {
        height: 1560px;
        border: 1px solid black;
        position: relative;
        top: -60px;
        .social {
            height: 60px;
        }
    }
    .pb-60 {
        height: 60px;
        border: 1px solid black;
    }
}

footer {
    height: 200px;
    border: 1px solid black;
}