.pic1, .pic3 {
    float: left;
}
.pic2, .pic4 {
    float: right;
}
.pic-n-v {
    width: 50%;
    padding: 15px;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    .thumbnail {
        max-width: 50%;
        max-height: 428px;
    }
}

